* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  width: 100%;
  background-color: rgba(64, 160, 163, 0.501);
  color: cadetblue;
}
#container {
  width: 50%;
  padding: 20px 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 0;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .container {
    width: 80%;
  }
}
h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}
img {
  width: 200px;
  border-radius: 10%;
  margin: 10px 0;
}
.pStyle {
  font-size: 20px;
  margin: 10px 0;
}
button,
button > a {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  color: rgb(125, 120, 120);
  border: 0;
  border-radius: 2px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
